* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
}
a {
  text-decoration: none;
  color: #666;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-right {
  display: flex;
  gap: 40px;
}
.horiz {
}
a:hover {
  color: blue;
}
.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  flex-direction: column;
}
.para-1 {
  font-size: 50px;
  font-weight: bold;
  color: #424242;
  padding-top: 40px;
  padding-bottom: 10px;
}
.para-2 {
  color: #424242;
  font-size: 20px;
  padding-bottom: 30px;
}
.button {
  background-color: rgb(12, 170, 222);
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px;
}
.button:hover {
  background-color: black;
}
.coin-left {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 100px 150px;
}

.h1 {
  padding-bottom: 30px;
}
.h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.para-3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.coin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424242;
}
.coin-right {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 200px;
}
.tag {
  color: blue;
}
.tag:hover {
  color: black;
}
.ank {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.coin-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.pricing {
  padding: 150px;
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-1 {
  padding-bottom: 20px;
}
.para-4 {
  padding-bottom: 20px;
  font-size: 20px;
}
.pricing-right {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;

  font-size: 10px;
}
.pricing-left {
}
.ank-1 {
  color: blue;
}
.ank-1:hover {
  color: black;
}
.education {
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0 80px;
}
.education-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px 150px;
}
.h1-2 {
  padding-bottom: 20px;
}
.para-5 {
  padding-bottom: 20px;
  font-size: 20px;
}
.ank-2 {
  padding-bottom: 20px;
  font-size: 20px;
  color: blue;
}
.ank-2:hover {
  color: black;
}
.education-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}
